@import '../../styles/colors.scss';
@import '../../styles/mixin.scss';
@import '../../styles/breakpoints.scss';

.form-container {
  width: 100%;
  max-width: 50rem;
  padding: 1rem;
  @include container-style;
  gap: 2rem;

  .additional-mention {
    width: 100%;
    border: solid 1px $black;
    padding: 1rem;
    font-size: 0.75rem;
    font-weight: 600;
  }

  @media (min-width: $smInter) {
    padding: 2rem;
  }
}

.user-form-container {
  max-width: 30rem;
}
