@import '../../styles/colors.scss';

.form-container {
  width: 100%;
  max-width: 40rem;
  padding: 2rem;
  background: $whiteRelief;
  color: $black;
  //box-shadow: 10px 10px $black;
  //border: solid 1px $black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
