@import '../../styles/colors.scss';

.form-container {
  width: 100%;
  padding: 2rem;
  background: $whiteRelief;
  color: $black;
  border: solid .5rem $hoverWhite;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
