@import '@/styles/colors.scss';
@import '@/styles/mixin.scss';


.error-container {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .error-mention {
    color: $errorColor;
    font-size: 0.9rem;
  }

  .error-button {
    @include small-button-style;
  }
}
