@import '../../styles/colors.scss';

.fake-article-card {
  padding: 1rem;
  width: 100%;
  height: 25rem;
  background: $whiteLighted;
  display: flex;
  align-items: center;
  justify-content: center;
}