@tailwind utilities;

.dropdown-container:hover > .dropdown-icon {
  @apply text-accent;
}

option {
  @apply text-black text-sm font-medium;
}

.dropdown:hover > .dropdown-icon {
  @apply text-accent;
}

.dropdown-icon {
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%) rotate(90deg);
}
