@import '../../styles/colors.scss';

.hidden-modal {
  transform: translateX(100%);
}

.modal-logout {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $whiteBackground;
  color: $black;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: transform 0.1s ease;

  .buttons-container {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }
}
