@import '../../styles/colors.scss';

.image-input-field {
  .image-preview-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .remove-button {
      font-size: 1rem;
      width: 10rem;
      height: 2rem;
      border: solid 1px $blackLighted;
      background: transparent;
      cursor: pointer;
    }
  }

  .image-preview-container .image-container,
  .skeleton-image-container {
    width: 100%;
    max-width: 18.75rem;
    height: 12.5rem;
    display: block;
    position: relative;
    overflow: hidden;
    border: solid 1px $whiteLighted;

    .img {
      display: inline-block;
      position: relative;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
