@import '../../styles/colors.scss';

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  background: $black;
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .loading-page-mention {
    color: $whiteRelief;
  }
}
