@import '../../styles/colors.scss';

.hidden {
    visibility: hidden;
}

.modal-overlay {
    background: rgba($black, .5);
    width: 100vw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-delete-article {
        width: 27rem;
        background: $whiteBackground;
        color: $black;
        padding: 1rem 1rem 1rem 1.5rem;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .modal-head {
            display: flex;
            justify-content: flex-end;
        }

        .text-container {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            h3 {
                font-size: 1.25rem;
            }
        }

        .buttons-container {
            display: flex;
            justify-content: flex-end;
            gap: .5rem;
        }
    }
}