@import '@/styles/colors.scss';
@import '@/styles/mixin.scss';

.article-full {
    @include container-style;
    padding: 2rem;
    gap: 2rem;

    .image-container {
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 40rem;
        aspect-ratio: 3 / 2;
        overflow: hidden;
    
        .img {
          display: block;
          position: relative;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
    }

    .article-text-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .article-title {
            font-size: 3rem;
            font-weight: 900;
        }
    }
}
