@import '../../../styles/colors.scss';

@mixin common-button-style {
  border: solid 1px $black;
  color: $black;
  box-shadow: 5px 5px $black;
  font-weight: 600;
  transition:
    transform 0.05s ease,
    box-shadow 0.08s ease;

  &:hover {
    transform: translate(4px, 5px);
    box-shadow: 0 0;
  }
}

.form-button {
  width: 100%;
  max-width: 9rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.primary {
  background: $whiteRelief;
  @include common-button-style;
}

.secondary {
  background: $hoverWhite;
  @include common-button-style;
}
