@import '../../../styles/colors.scss';

.form-button {
  width: 100%;
  max-width: 9rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.primary {
  border: none;
  background: $black;
  color: $whiteRelief;

  &:hover {
    background: $hoverAccent;
  }
}

.secondary {
  border: solid 1px $black;
  background: transparent;
  color: $black;

  &:hover {
    background: $hoverWhite;
  }
}
