@import '../../../styles/colors.scss';

.form-button {
  width: 100%;
  max-width: 9rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.primary {
  border: solid 1px $black;
  background: $whiteRelief;
  color: $black;
  box-shadow: 5px 5px $black;
  font-weight: 600;

  &:hover {
    background: $hoverAccent;
    color: $whiteRelief;
    border-color: $hoverAccent;
  }
}

.secondary {
  border: solid 1px $black;
  background: $hoverWhite;
  color: $black;
  box-shadow: 5px 5px $black;
  font-weight: 600;

  &:hover {
    background: $hoverAccent;
    color: $whiteRelief;
    border-color: $hoverAccent;
  }
}
