@import '../../../styles/colors.scss';

@mixin common-button-style {
  font-weight: 600;
  transition: transform 0.05s ease;

  &:hover,
  &.clicked {
    transform: translate(4px, 5px);
  }
}

.form-button,
.modal-button {
  width: 100%;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.form-button {
  max-width: 9rem;
  height: 2.5rem;
}

.modal-button {
  max-width: 7rem;
  height: 2.25rem;
}

.primary {
  background: $accent;
  color: $whiteRelief;
  @include common-button-style;
}

.secondary {
  border: solid 1px $black;
  color: $black;
  @include common-button-style;
}
