$black: #1d1d1d;
$whiteBackground: #f7f7f7;
$whiteRelief: #ffffff;
$hoverWhite: #d2d2d2;
$whiteLighted: rgba($whiteRelief, 0.25);
$blackLighted: rgba($black, 0.25);
$blackOverLighted: rgba($black, 0.1);
$hoverAccent: red;
