$black: #1d1d1d;
$whiteBackground: #f7f7f7;
$whiteRelief: #ffffff;
$accent: #e11e22;
$whiteLighted: rgba($whiteRelief, 0.25);
$blackSemiLighted: rgba($black, 0.75);
$blackLighted: rgba($black, 0.25);
$blackOverLighted: rgba($black, 0.1);
$errorColor: red;

$blue: blue;
$hoverWhite: #d7d7d7;
$whiteLighted: rgba($whiteRelief, 0.25);
$blackSemiLighted: rgba($black, 0.75);
$blackLighted: rgba($black, 0.25);
$blackOverLighted: rgba($black, 0.1);
$hoverAccent: $blue;
$linearGradientBackground: linear-gradient($blue, $hoverWhite);
