@import './colors.scss';

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Uniquement pour les formulaires create et update articles */
  .fields-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  /*============================================================*/

  .buttons-container {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

a {
  color: purple;
  cursor: pointer;

  &:hover {
    color: pink;
  }
}
