@tailwind base;
@tailwind components;
@tailwind utilities;

/* Texts 
===========================================================================================*/
p,
h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  font-weight: 500;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

/* Links
===========================================================================================*/
a {
  @apply text-purple-500 cursor-pointer
  hover:text-accent;
}

/* Images
===========================================================================================*/
.image-container {
  @apply w-full
  block
  relative
  overflow-hidden;
}

.image {
  @apply inline-block
  relative
  w-full h-auto
  object-cover;
}

/* Global container-style
===========================================================================================*/
.container-style {
  @apply bg-whiteRelief
  border border-black10 border-solid rounded-lg
  flex flex-col;
}

/* Forms
===========================================================================================*/
form {
  @apply w-full
  flex flex-col gap-8;
}

/* Buttons
===========================================================================================*/
.buttons-container {
  @apply w-full
  flex justify-end items-center gap-2;
}
