@tailwind base;
@tailwind components;
@tailwind utilities;

.site-name {
  font-size: clamp(2rem, 5vw, 2.75rem);
}

.custom-shadow {
  box-shadow: -5px 0 15px rgba(29, 29, 29, 0.25);
}

.parent:hover > .close-icon {
  @apply text-black;
}

.file-input::file-selector-button {
  @apply w-40 h-8 border border-black25 bg-transparent mr-4 cursor-pointer;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  font-weight: 500;
}
