@import './mixin.scss';
@import './colors.scss';

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $whiteBackground;

  .content {
    @include page-content-style;
    justify-content: center;
  }
}
