@import '@/styles/colors.scss';
@import '@/styles/mixin.scss';

.no-article {
  @include container-style;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
  max-width: 30rem;
  padding: 2rem;

  .action-container {
    color: $black;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    &:hover > .action-text,
    &:hover > .action-icon {
      color: $hoverAccent;
    }
  }
}
