@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';

.scrolled {
  background: $black;
}

header {
  width: 100%;
  height: 5rem;
  background: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
  transition: background 0.2s ease;

  .content {
    width: 100%;
    max-width: 90rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $lgInter) {
      padding: 0 2rem;
    }
  }

  .on-login-content {
    justify-content: center;
  }
}
