@import '../../styles/colors.scss';

header {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  background: $whiteRelief;
  //border-bottom: solid 1px $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
