@import '../../styles/colors.scss';

.mobile-icon-container .mobile-icon {
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: $whiteRelief;
  cursor: pointer;

  &:hover {
    color: $black;
  }
}

.mobile-icon-container .mobile-icon.scrolled {
  &:hover {
    color: $blue;
  }
}
