.article-card {
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
  border: solid 1px #ccc;

  .image-container {
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;

    .img {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
