@import '../../styles/colors.scss';

.article-card {
  padding: 1rem;
  width: 100%;
  border: solid 1px $whiteLighted;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .image-container {
    display: inline-block;
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 2;
    overflow: hidden;

    .img {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .bottom-part {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .infos-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h3 {
        font-size: 1.5rem;
      }
    }
  }
}
