@import '../../styles/colors.scss';
@import '../../styles/mixin.scss';

.article-card {
  width: 100%;
  @include container-style;

  .image-container {
    display: inline-block;
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 2;
    overflow: hidden;

    .img {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .bottom-part {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .infos-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .body-snippet {
      font-style: italic;
      font-size: 0.9rem;
      opacity: 0.75;
    }
  }
}
