@import '@/styles/colors.scss';
@import '@/styles/mixin.scss';

.actions-bar {
  display: flex;
  justify-content: flex-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
