@import '../../styles/colors.scss';

.actions-bar {
  display: flex;
  justify-content: flex-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;

  .card-button {
    padding: 0.5rem 1rem;
    background: transparent;
    border: solid 1px $blackLighted;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background: $hoverAccent;
      border-color: $hoverAccent;
      color: $whiteRelief;
    }
  }
}
